.planet {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
    transition: transform 0.3s ease-in-out;
  }
  
  .planet:hover {
    transform: scale(1.05);
  }
  
  /* src/components/PlanetList.css */
  .planet-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .list-view .planet-list {
    flex-direction: column;
  }