.main-dashboard{
    
        margin-left: 160px; /* Same as the width of the sidenav */
        padding: 0px 10px;
      
}
.sidebar-page{
    
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 16px;
      
}
.dashboard{
    display: flex;
    width: 695px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    border-radius: 12px;
border: 2px solid #E0E6ED;

background: var(--White, #FFF);

box-shadow: 0px 7px 34px 0px rgba(23, 23, 37, 0.25);
}
.dashLogo{
    width: 647px;
height: 218px;
border-radius: 8px;
}
.content{
    align-self: stretch;
    color: #3B3F5C;
font-family: Open Sans;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 109.091% */
letter-spacing: 0.14px;
}
.main-content{
    color: #3B3F5C;
align-self: stretch;
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: 0.14px;
opacity: 0.8;
}