.main-dashboard{
    margin-top: 100px;
        /* margin-left: 40%;  */
        padding: 0px 10px;
        width: 100%;
height: 696px;
flex-shrink: 0;
display: flex;
flex-direction: row-reverse;
      
}
/* .header{
    background-color: yellowgreen;
    display: flex;
width: 1366px;
margin: 0px;
/* padding: 20px; */

/* .sidebar-page{
    background-color: aqua;
    display: flex;
    width: 18%;
    height: 576px;
    padding: 10px 14px 10px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0; 
       
} */
.dashboard{
    display: flex;
    width: 80%;
    /* padding: 10%; */
    /* flex-direction: column; */
    padding: 8% 15% 8% 20%;
    gap: 12px;
    border-radius: 12px;
border: 2px solid #E0E6ED;

background: var(--White, #FFF);

box-shadow: 0px 7px 34px 0px rgba(0, 0, 128, 0.927);
}
.dashLogo{
    width: 50%;
height: 50%;
border-radius: 8px;
}
.content{
    align-self: stretch;
    color: #3B3F5C;
font-family: Open Sans;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 109.091% */
letter-spacing: 0.14px;
}
.main-content{
    color: #3B3F5C;
align-self: stretch;
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: 0.14px;
opacity: 0.8;
}